@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
$primaryColor:#1ca46d;

.affinity_poll {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  box-sizing: border-box;
  .card {
    min-width: 250px;
    height: auto;
    box-shadow: 3px 3px 12px #ccc;
    border-radius: 10px;
    margin: 10px;
    padding: 16px;
    box-sizing: border-box;

    .voteStatus {
        display: flex;
        justify-content: space-between;
        font-size: 12px;
        position: relative;
        top: -1px;
    }
    h3 {
      margin: 0 0 10px 0;
      font-weight: 600;
    }
    .option {
      font-weight: 400;
      display: block;
      padding: 10px 0;

      cursor: pointer;
      border-radius: 10px;
      margin-bottom: 5px;
      padding: 10px;
      max-height: max-content;
      &:hover {
        background-color: #f1f1f1;
      }
      &.selected {
        background: #f7fffc;
        border: 1px solid #acffe2;
      }
      .btn {
        display: flex;
        align-items: center;
        .radioBtn {
          width: 16px;
          height: 16px;
          min-width: 16px;
          background-color: #ccc;
          border-radius: 50%;
        }
        .value {
          margin-left: 10px;
        }
        &.selected {
          .radioBtn {
            width: 16px;
            height: 16px;
            min-width: 16px;
            background-color: $primaryColor;
            border-radius: 50%;
          }
        }
      }
      .answerContainer {
      }
      .progress2 {
        padding: 1px;
        border-radius: 30px;
        background: rgba(0, 0, 0, 0.25);
        box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25),
          0 1px rgba(255, 255, 255, 0.08);
          margin: 5px 0;
      }

      .progress-bar2 {
        width: 0;
        height: 9px;
        border-radius: 30px;
        background: $primaryColor;
        transition: width 2s;
      }
    }
  }
}
