@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

.affinity_poll {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  .card {
    width: 350px;
    height: auto;
    box-shadow: 3px 3px 12px #ccc;
    border-radius: 10px;
    margin: 10px;
    padding: 16px;
    h3 {
        margin: 0 0 10px 0;
        font-weight: 600;
    }
    .option {
        font-weight: 400;
        display: block;
        padding: 10px 0;

        display: flex;
        align-items: center;
        cursor: pointer;
        border-radius: 10px;
        margin-bottom: 5px;
        padding: 10px;
        &:hover {
            background-color: #f1f1f1;
        }
        .radioBtn {
            width: 16px;
            height: 16px;
            min-width: 16px;
            background-color: #ccc;
            border-radius: 50%;

        }
        .value {
            margin-left: 10px;
        }
    }

  }
}
